{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AURA</title>
        <!-- Favicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'favicon_io/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">    
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aura.css' %}">
</head>
<body>
    <div class="app-container">
        <aside class="slidebar">
            <div class="brand">
                <div class="brand-icon"> 
                    <img class="brand-logo" src="/media/project/AuraCare.png" alt=""> 
                </div>
                <div class="brand-text">
                    <h2 class="brand-name">AuraCare</h2>
                    <p class="sub-brand">Support Portal</p>
                    <div class="status">Online</div>
                </div>
            </div>
            <div class="information">
                <div class="content">
                    <p>Coversation Mode</p>
                    <p id="current-flow">Listening
                        <span class="flow-animation">......</span>
                    </p>
                    <p class="extracted-info"></p>
                </div>
                <div id="customer-profile">
                    <p>Customer Profile</p>
                    <p>#USR-{{ session }}</p>
                    <p id="loyalty-score"></p>
                    <p id="customer-category"></p>
                </div>
            </div>
        </aside>
        <main class="chat-box">
            <div class="chat-header">
                <h2>Agentic User Resolution Assistant (AURA)</h2>
                <div class="session">Session #{{ session }}</div>
            </div>
            <div class="message-container">
                <div class="bot">
                    <img src="/media/project/assistant.png" class="bot-img" alt="">
                        Hello! How can I help you today?
                </div>
            </div>

            <div class="chat-area">
                <input type="text" id="user-input" placeholder="type something.....">
                <button type="submit" onclick="sendMessage()">Send</button>
            </div>
        </main>

    </div>

    <script src="{% static 'aura.js' %}"></script>
</body>
</html>