{% extends 'base.html' %}
{% block title %}Contact me{% endblock %}
{% load static %}
{% block style %}

{% endblock %}
{% block body %}
<div class="container-contact">
    <div class="connect-withme">
        <div class="content-withme">
            <h2>You can connect with me on Social Media</h2>
            <p>Feel free to reach out to me through the following platforms:</p>
                <div class="social">
                    <!-- LinkedIn Icon -->
                    <a href="https://www.linkedin.com/in/abhijit-deshpande/" class="icon-link" target="_blank" rel="noopener noreferrer">
                      <!-- <img src="/media/connectme/Linkedin.png" alt="LinkedIn Logo" class="social-icon"> -->
                      <i class="bi bi-linkedin"></i>
                    </a>
                  
                    <!-- GitHub Icon -->
                    <a href="https://github.com/abhijitdeshpande83" class="icon-link" target="_blank" rel="noopener noreferrer">
                      <!-- <img src="/media/connectme/Github.png" alt="GitHub Logo" class="social-icon"> -->
                      <i class="bi bi-github"></i>
                    </a>
                  
                    <!-- Email Icon -->
                    <a href="mailto:abhijitdeshpande83@gmail.com" class="icon-link" target="_blank" rel="noopener noreferrer">
                      <!-- <img src="/media/connectme/email.png" alt="Email Logo" class="social-icon"> -->
                      <i class="bi bi-envelope-fill"></i>
                    </a>
                </div>
        </div>
    </div>
    <div class="contact-formcontainer">
    <div class="contact-form">
        <form action="{% url 'contact_me' %}" method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}