{% extends 'base.html' %}
{% block title %}Contact me{% endblock %}
{% load static %}
{% block style %}

{% endblock %}
{% block body %}
<div class="container-contact">
    <div class="connect-withme">
        <div class="content-withme">
            <h2>You can connect with me on Social Media</h2>
            <p>Feel free to reach out to me through the following platforms:</p>
            <ul>
                <li><a href="https://www.linkedin.com/in/abhijit-deshpande/" target="_blank" rel="noopener noreferrer"><img src="/media/connectme/Linkedin.png" alt="LinkedIn Logo"></a></li>
                <li><a href="https://github.com/abhijitdeshpande83" target="_blank" rel="noopener noreferrer"><img src="/media/connectme/Github.png" alt="GitHub Logo"></a></li>
                <li><a href="mailto:abhijitdeshpande83@gmail.com" rel="noopener noreferrer"><img src="/media/connectme/email.png" alt="Email Logo"></a></li>
                <!-- <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img src="/media/connectme/facebook.svg" alt="Facebook Logo"></a></li> -->
                <!-- <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img src="/media/connectme/x.svg" alt="X Logo"></a></li> -->
            </ul>
        </div>
    </div>
    
    <div class="contact-form-container">
        <form action="{% url 'contact_me' %}" method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}