{% extends 'base.html' %}
{% block title %}Experience{% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block body %}
<div class="work-experience"> 
    <div class="work">
        <h1>Work Experience</h1>
    {% for i in experience %}
    <div class="container-work">
        <img src="/media/experience/work.png">
        <div class="experience">
            <div class="company-timeline">
                <h2>{{ i.company_name }}</h2>
                {% if i.timeline %}
                    <small class="location">{{ i.timeline }}</small>
                {% endif %}
            </div>
        
            <div class="role-location">
                <h3>{{ i.role }}</h3>
                {% if i.location %}
                    <small class="timeline">{{ i.location }}</small>
                {% endif %}
            </div>
            <h4 class="project-title">{{ i.project_title }}</h4>
            <h6>{{ i.company_experience|safe }}</h6>
        </div>
    </div>
    {% endfor %}
</div> 
    <div class="education">
        <h1>Education</h1>
    <div class="container-education">
        <img src="/media/experience/education.png">
        <div class="graduation">
            <h2>University of Texas Arlington</h2>
            <small>Master of Science in Industrial Engineering</small><br>
            <small>Jan 2020 - May 2022</small>
        </div>
    </div>
    <div class="container-education">
        <img src="/media/experience/education.png">
        <div class="graduation">
            <h2>Shivaji University</h2>        
            <small>Bachelor of Engineering</small><br>
            <small>Aug 2014 - May 2018</small>
        </div>
    </div>
</div>
</div>

{% endblock %}