{% extends 'base.html' %}
{% block title %}Analytic Nerds{% endblock %}
{% load static %}
{% block style %}

{% endblock %}

    {% block body %}
      <div class="container-index">
        <div class="hello">Hi I'm&nbsp;<span class="name">Abhijit!</span></div>
        <div class="info">
            <div class="personal-info">
                <span class="introduction">This website showcases my journey in technology and research, 
                    reflecting my passion for innovation. Here, I share insights and project outcomes to 
                    foster dialogue within the tech community and welcome opportunities for collaboration 
                    and commissions, offering my unique illustrations and perspective.

                    I am a driven professional currently engaged in contract work, actively seeking full-time 
                    opportunities in Data Science, Machine Learning, and Data Analysis. With experience in cloud 
                    technologies, machine learning, statistics, and Python development, I am equipped to deliver 
                    impactful solutions.
                </span>
                <!-- <div class="about">Sr. Business Analyst, AWS Certified, Tableau Specialist</div> -->
                <!-- <div class="more-about">Driven by curiosity, I continuously seek out opportunities to grow both professionally and personally.</div> -->
                <div class="buttons">
                    <button class="download-button" onclick="window.location.href='{% url 'download_cv' %}'">Download CV</button>
                </div>
            </div>
            {% for profile in profile %}
            <div class="personal-pic">
                <img src="{{ profile.profile_pic.url }}" alt="{{ profile.profile_name }}">
            </div>
            {% endfor %}
        </div>
    </div>
      {% endblock %}
