<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliQA</title>
</head>
<body>
    <h1>Hello, Welcome In!</h1>
    <form action="{% url 'test' %}" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <p>{{ form.query_file }}</p>
        <input type="submit" value="Upload" id="">
    </form>
    <form action="{% url 'test' %}" method="post">
        {% csrf_token %}
        <label for="question">Ask me!</label><br>
        <input type="text" id="question" name="question">
        <button type="submit">Submit</button>
    </form>
        <h3>Here is your answer:</h3>
        <h5>{{answer}}</h5>
</body>
</html>