{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% load static %}
{% block style %}

{% endblock %}

{% block body %}
<div class="project">
    {% for category, project_list in grouped_projects.items %}
      <div class="project-category">
        <h1 class="category">{{ category|default:"Uncategorized" }}</h1>
  
        {% for project in project_list %}
            {% if forloop.first or forloop.counter0|divisibleby:3 %}
            <div class="project-row">
            {% endif %}
  
                <div class="project-column">
                     <div class="project-card">
                        <div class="front-card">
                            <h3 class="project-name">{{ project.project_name }}</h3>
                        </div>    
                        <div class="back-card">
                            <h6 class="project-description ">{{ project.project_description }}</h6>
                        </div>
                    </div>
                </div>
  
            {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
   
<script src="{% static 'projects.js' %}"></script>

{% endblock %}
