{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% load static %}
{% block style %}

{% endblock %}

{% block body %}
<div class="project">
    <div class="project-details">
    {% for i in projects %}
        <div class="project-view">
            <h1 class="project-name">{{ i.project_name }}</h1>
            {% if i.link %}
                <a class="btn btn-primary" href="{{ i.link }}" role="button" id="detail-view" target="_blank" rel="noopener noreferrer">view</a>
            {% endif %}
        </div>
        <h6 class="project-description">{{ i.project_description|safe }}</h6>
    {% endfor %}
    </div>  
</div>
{% endblock %}
