{% extends 'base.html' %}
{% block title %}Demo{% endblock %}
{% load static %}
{% block style %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="container-skills">
        <div class="content-container">
            <ul class="content-certificates">
                {% for i in certificate %}
                <li class="typing-container hidden">
                    <div class="typing">{{ i.certification_name }}</div>
                </li>
                {% endfor %}
            </ul>
            <ul class="content-tools">
                {% for i in tool %}
                <li class="typing-container hidden">
                    <div class="typing">{{ i.tool_name }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="slider-container">
            <!-- Certifications Slider -->
            <div class="slider" id="certifications-slider">
                <div class="slider-title">
                    <h4>Certifications</h4>
                </div>
                <div class="items-container">
                    {% for i in certificate %}
                    <div class="item">
                        <a href="{{ i.verification_url }}" target="_blank" rel="noopener noreferrer" class="verification_link">
                            <img src="/media/{{ i.certification_logo }}" class="card-img-top" alt="{{ i.certification_name }}">
                            <h5>{{ i.certification_name }}</h5>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <button class="prev" id="prev-certifications-slider">&#9664;</button>
                <button class="next" id="next-certifications-slider">&#9654;</button>
            </div>

            <!-- Tools Slider -->
            <div class="slider" id="tools-slider">
                <div class="slider-title">
                    <h4>Tools</h4>
                </div>
                <div class="items-container">
                    {% for i in tool %}
                    <div class="item">
                        <img src="/media/{{ i.tool_logo }}" class="card-img-top" alt="{{ i.tool_name }}">              
                        <h5>{{ i.tool_name }}</h5>
                    </div>
                    {% endfor %}
                </div>
                <button class="prev" id="prev-tools-slider">&#9664;</button>
                <button class="next" id="next-tools-slider">&#9654;</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'skills.js' %}"></script>
<script src="{% static 'animate.js' %}"></script>
{% endblock %}
