{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/supportiq.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupportIQ</title>

        <!-- Favicons -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'favicon_io/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
</head>
<body>
    <div class="supportiq-container">  
        <h1>Welcom in SupportIQ</h1>
        <form action="{% url 'intent-classify-api' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="prompt">How can I help you today?</label>
            <input type="text" name="prompt" placeholder="Enter your question..">
            <button type="submit">Send</button>
        </form>
        {% if error %}
        <div class="supportiq-error-container">
            <h2>Error</h2>
            {{ error }}
        </div>
        {% endif %}
        {% if response %}
        <div class="supportiq-response-container">
            <h2>Response</h2>
            <p>Intent: {{ response.label }}</p>
            <div class="confidence-score" style="background-color: {{ color_pattern.color }};">
               <p>Confidence: {{ response.score|floatformat:2 }}%</p>
            </div>
            <p>{{ text }}</p>
        {% endif %}    
    </div>  
</body>
</html>