{% extends 'base.html' %}
{% block title %}tools{% endblock %}
{% load static %}

{% block style %}
.carousel-container,
.carousel-container-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Ensure correct positioning for controls */
}
.carousel-inner img,
.carousel-container-tools img {
    max-width: 150px; /* Adjust the max width as needed */
    max-height: 200px; /* Maintains the aspect ratio */
    margin: auto; /* Centers the image */
    display: block; /* Centers the image */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Change the color of the icons */
    <!-- background-size: 100%; /* Adjust icon size */ -->
}
.carousel-caption {
    color: black; /* Text color */
}

.card-text{
    text-align: center;
}
.card{
    border: none;
}

{% endblock %}
    
{% block body %}
<div class="container carousel-container">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <img src="/media/AWS-Certified-Cloud-Practitioner_badg.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text">AWS Cloud Practitioner</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/Stanford_online.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Machine Learning</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/SLPython.png"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Python Core</h5>
                    </div>
                  </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Tools and Technology -->

<div class="container carousel-container-tools">
    <div id="carouselExampleTools" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <img src="/media/Python.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text">Python</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/django.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">django</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/css.svg"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">CSS</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/Pytorch.png"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">PyTorch</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/tensorflow.svg"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">TensorFlow</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/Numpy.png"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">NumPy</h5>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="/media/html.svg"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">HTML</h5>
                    </div>
                  </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleTools" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleTools" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



  {% endblock %}