#Ignore NLP_data
/media/NLP_data/**

# Ignore the .env file
.env.*

# Ignore venv
venv*

# Ignore large files
*.dylib
*.bin
*.h5

# Ignore site-packages directory
**/site-packages/

# Ignore Python cache
**/__pycache__/
*.py[cod]

# Ignore Django migrations
*/migrations/*

**/j_*

dump.sql
migrate.load
.DS_Store
db.json
db.sqlite3


# Celery local beat state file
celerybeat-schedule
celerybeat.pid
ping

