# Ignore the .env file
.env.*

# Ignore venv
venv*

# Ignore site-packages directory
**/site-packages/

# Ignore Python cache
**/__pycache__/
*.py[cod]

# Ignore Django migrations
*/migrations/*

**/j_*

dump.sql
migrate.load
.DS_Store
db.json
db.sqlite3
