argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
bcrypt==4.1.2
cffi==1.16.0
Django==5.1.1
django-dbbackup==4.2.1
django-phonenumber-field==8.0.0
Faker==23.1.0
phonenumbers==8.13.43
pillow==10.3.0
psycopg2-binary==2.9.9
pycparser==2.22
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.2
setuptools==68.2.2
six==1.16.0
sqlparse==0.4.3
wheel==0.41.2
whitenoise==6.7.0