:root {
    --bg-color: #f4f7f9; 
    --primary: #4f46e5; 
    --text-main: #1e293b; 
    --bot-msg: #ffffff; 
    --user-msg: #4f46e5; 
}

body { 
    font-family: 'Inter', sans-serif;
    background: var(--bg-color); 
    margin: 0; 
    height: 100vh; 
}

.app-container {
    display: flex;
    height: 100vh;
}

.slidebar {
    display: flex;
    width: 280px;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #e2e8f0;
    gap: 60px;
}

.brand-logo {
    width:80px;
    height:80px;
    margin-right:10px;
    vertical-align:middle;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-text {
    display: flex;
    flex-direction: column;
}

.brand-name {
    flex-direction: column; 
    font-family: 'Syne', sans-serif; 
    font-size: 20px; 
    font-weight: 700; 
    margin: 0;
}

.sub-brand {
    font-size: 10px; 
    color: #8b949e; 
    letter-spacing: 1px; 
    text-transform: uppercase;
    margin: 0;
}

.status {
    background-color: aquamarine;
    color: green;
    padding: 2px 8px;
    border-radius: 12px;
    width: fit-content;
    font-size: 10px;
    margin-top: 2px;
}

.information {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 18px;
    padding: 16px;
    gap: 30px;
    /* justify-items: center; */
}

.content {
    background-color: rgb(227, 227, 227);
    border-radius: 16px;
    padding: 8px;
    width: 100%;
}

#current-flow {
    border-radius: 12px;
    background-color: #ffd573;
    width: fit-content;
    padding: 4px;
    color: darkorange;
    font-size: 12px;
}

.flow-animation {
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% {opacity: 0.1;} 
    50% {opacity: 1;}
    100% {opacity: 0.1;}   
}

#customer-profile {
    background-color: rgb(227, 227, 227);
    border-radius: 16px;
    width: 100%;
    padding: 8px;
}

.chat-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f8fafc;
}

.message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    overflow-y: auto;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    border-bottom: 1px solid #e2e8f0;
    font-size: 28px;
}

.session {
    background-color: lightgreen;
    font-size: 12px;
    border-radius: 12px;
    padding: 4px;
    width: fit-content;
}

.chat-area {
    display: flex;
    gap: 10px;
    padding: 12px;
    border-top: 1px solid e2e8f0;
}

input {
    flex: 1;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    outline: none;
    padding: 10px;
}

button { 
    background: var(--primary); 
    color: white; 
    border: none; 
    padding: 0 20px; 
    border-radius: 6px; 
    cursor: pointer; 
}

.bot { 
    align-self: flex-start; 
    padding: 12px;
    background: var(--bot-msg); 
    color: var(--text-main); 
    border: 1px solid #e2e8f0; 
    border-radius: 12px;
} 

.user { 
    align-self: flex-end; 
    width: fit-content;
    padding: 12px;
    background: var(--user-msg); 
    color: white; 
    border-radius: 12px;
}

.user-img,
.bot-img{
    width:30px;
    height:30px;
    margin-right:6px;
    vertical-align:middle;
}

