body {
    margin: 0;
    font-family: 'Calibri', 'Arial', sans-serif; 
    background-color: #141414;
    /* radial-gradient(ellipse at bottom, #003366, #333333); */
    overflow: auto; /* Prevent scroll bars */
}

.container-fluid {
    /* background-color: red; */
    margin-left: 5vw;
    margin-right: 20vw;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.navbar-brand img {
    /* margin-left: 5vw; */
    height: 50px;
    width: 50px;
}

.brand-text {
    font-size: 1.25rem; /* Adjust font size */
    color: white; /* Text color */
}

/* .navbar-nav .nav-link {
    color: white; 
    font-size: 1.25rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f6f3fc; 
    transform: scale(1.1);
} */

/* here code starts */
.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  background-color: #141414;
  text-decoration: none;
  padding: 0.5rem .5rem;
  border-radius: 10%;
  transition: color 0.5s ease-in-out;
}

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.nav-link:hover {
  color: white; /* Change the text color on hover */
  /* background-color: grey; */
  --fill: 100%; /* Trigger the animation */
}

.nav-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -1px; /* Adjust if needed */
  border-radius: inherit;
  background: conic-gradient(white var(--fill), transparent var(--fill));
  transition: --fill 0.6s ease-in-out;
}

.navbar-brand:hover img {
    transform: scale(1.2); /* Slightly enlarge the logo */
}

#contact-button {
    background-color: transparent;
    padding: .7vh .7vw;
    margin-top: 5%;
    border-radius: 20px;
    font-size: 1rem;
    border-width: 1px;
    border-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.navbar-nav #contact-button:hover {
    background-color: rgba(108, 117, 125, 0.7); /* Change transparency on hover */
}

@media (max-width: 768px) {

.navbar-brand img {
    /* margin-left: 5vw; */
    height: 25px;
    width: 25px;
}

.brand-text {
    font-size: 10px; /* Adjust font size */
}

.container-fluid {
    /* background-color: red; */
    margin-left: 5vw;
    margin-right: 1vw;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.navbar-nav .nav-link {
    font-size: 10px;
}

#contact-button {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: .5%;
    border-radius: 20px;
    border-width: 1px;
    padding: .1vh 1vw;
    font-size: .5rem;
}

.navbar-toggler {
    background-color: white;
    border-radius: 1rem;
    /* width: 25px;    */
    /* height: 25px;  */
}

/* Size the hamburger icon (navbar-toggler-icon) */
.navbar-toggler-icon {
    width: 3.5vw;   
    height: 2vh; 
    /* position: fixed; */
}

}