.work-experience {
    position: relative;
    margin: 100px, auto;
}
.work {
    padding: 10px 50px;
    position: relative;
    width: 70%;
    /* background-color: grey; */
    justify-content: center;
    margin: auto auto 0 auto;
}

.container-work {
    padding: 0px 40px;
    position: relative;
    width: 100%;
    /* background-color: green; */
    justify-content: center;
    margin: auto auto 0 auto;
}

.experience {
    padding: 20px 20px;
    /* background: red; */
    position: relative;
    color: white;
    font-size: 13px;
}

.container-work img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    top:20px;
    z-index: 1px;
    /* border: 1px solid white; */
    /* border-radius: 5px; */
}

h2 {
    font-size: 17px;
    font-weight: bold;
}
h3 {
    font-size: 15px;
    color: white;
    /* font-style: italic; */
}

.container-education img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top:10px;
    z-index: 1px;
    /* border: 1px solid white; */
    /* border-radius: 15px; */
}

.container-education {
    padding: 0px 50px;
    position: relative;
    width: 100%;
    /* background-color: green; */
    justify-content: center;
    margin: auto auto 0 auto;
}

.graduation {
    padding: 10px 20px;
    /* background: red; */
    position: relative;
    color: white;
    font-size: 13px;
}

.education {
    padding: 10px 50px;
    position: relative;
    width: 70%;
    /* background-color: rgb(128, 0, 113); */
    align-items: center;
    margin: auto auto 0 auto;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

h6 {
    color: #A7A8AA;
}