.container-index {
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    padding: 2vw 6vw; 
    color: white;
}
.info {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    color: rgb(186, 178, 167);
    justify-content: space-around;
    /* background-color: red; */
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2vw 3vh;
    width: 50vw;
    /* background-color: yellow; */
}

.personal-pic {
    display: flex;
    width: 30vw; 
    height: fit-content;
    max-height: 60vh;
    justify-content: center;
    /* background-color: blue; */
    justify-items: center;
}

.personal-pic img{
    width: 23vw;
    border-radius: 2em;
}

.introduction {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #A7A8AA;
    /* background-color: beige; */
}

.hello {
    /* margin-top: 20px; */
    display: flex;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    justify-content: center;
    justify-items: center;
    /* background-color: aquamarine; */
}

.name {
    font-size: 3vw;
    font-weight: bold;
    color: rgba(96,165,250,255);
}

.buttons button {
    position: relative;
    margin-top: 2vh;
    padding: 1.2vh .5vw;
    font-size: .9rem;
    background-color: green;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: white;
    color: green;
}

@media (max-width: 768px) {

.container-index {
    /* background-color: green; */
    flex-direction: column;
    padding: 1vw 1vw; 
    color: white;
}

.personal-info {
    padding: 1vw 1vh;
    width: 50vw;
    /* background-color: yellow; */
}

.introduction {
    font-size: .5rem;
}

.buttons button {
    margin-top: 1.2vh;
    padding: .4vh .5vw;
    font-size: .3rem;
    background-color: green;
    border-radius: .3rem;
}

.personal-pic {
    margin-top: 1.5vh;
}

.personal-pic img{
    width: 30vw;
    border-radius: 1em;
}

}
    