.project {
    /* background-color: brown; */
    display: flex; 
    padding: 0vw 2vh; 
    width: 100%;
    height: 100%;
    margin: auto auto 0 auto;
    justify-content: center; 
    align-items: center; 
}

.project-details {
    /* background-color: blueviolet; */
    padding: 2vw 3vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.project-view {
    /* background-color: bisque; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: left;    
}

#detail-view {
    background-color: grey;
    display: flex;
    width: 3.5vw;
    height: 3.5vh;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    border: none;
}

.project-name {
    padding: 0.52vw 2.60vh; 
    display: flex;
    /* width: 100%; */
    /* background-color: red; */
    font-size: 1.1rem;
    color: #B0C4DE;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    margin: auto auto 0 auto;
}
.project-description {
    /* background-color: aqua; */
    padding: 0.52vw 2.60vh; 
    margin: auto auto 3vh auto;
    font-size: 1rem;
    color: #A7A8AA;
}

@media (max-width: 768px) {

.project {
     /* background-color: brown; */
    display: flex;
    padding: 1vw 2.60vw; 
    width: 100%;
    height: 100%;
    margin: auto auto 0 auto;
    justify-content: center; 
    align-items: center; 
}

.project-details {
    /* background-color: blueviolet; */
    padding: 2vw 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.project-name {
    padding: 0.52vw 2.60vw; 
    width: 100%;
    /* background-color: grey; */
    font-size: .9rem;
    /* justify-content: center; */
    margin: auto auto 0 auto;
}

.project-description {
    padding: 4vw 4vw;
    font-size: 0.8125rem;
    color: #A7A8AA;
}

#detail-view {
    background-color: grey;
    display: flex;
    width: 3vw;
    height: 3vh;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

}