.project {
    /* background-color: brown; */
    display: flex; 
    flex-direction: column;
    padding: 0vw 2vh; 
    width: 100%;
    height: 100%;
    margin: auto auto 0 auto;
    justify-content: center; 
    align-items: center; 
}

.project-category {
    /* background-color: palevioletred; */
    padding: 2vw 3vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
}

.category {
    color: #B0C4DE;;
    /* background-color: red; */
    text-align: left;
    width: 90%;
}

.project-row {
    /* background-color: greenyellow; */
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: flex-start;
}

.project-column {
    flex: 0 30%;
    flex-wrap: wrap;
    margin: 1vw 1vw 1vw 1vw;
    height: 24vh;
    /* border-bottom: 1px solid #eee; */
    background-color: black;
    border-radius: 1vw;
    align-content: center;
    overflow: hidden; 
}

.project-name {
    /* padding: 0.52vw 2.60vh;  */
    /* background-color: red; */
    font-size: 1.25rem;
    color: white;
    padding: 2.5vw;
}

.project-description {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-items: center;
    align-items: center;
    font-size: .85vw;
    width: 100%;
    padding: .55vw;
    overflow: auto; 
    color: white;
}

.project-column:hover {
    background-color: white;
}

.project-column:hover .project-name {
    color: black;
}

.project-column:hover .project-description {
    color: black;
}

.project-card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }

.front-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.project-column.flipped .project-card {
    transform: rotateY(180deg);
  }

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.front-card {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.back-card {
    background-color: #e0e0e0;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
  

@media (max-width: 768px) {

.project {
    /* background-color: brown; */
    display: flex;
    padding: 1vw 2.60vw; 
    width: 100%;
    height: 100%;
    margin: auto auto 0 auto;
    justify-content: center; 
    align-items: center; 
}

.project-details {
    /* background-color: blueviolet; */
    padding: 2vw 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.project-view {
    /* background-color: magenta; */
    display: flex;
    /* flex-direction: row; */
    /* justify-items: center; */
    justify-content: left;
    align-items: center;
}

.project-name {
    /* padding: 0.52vw 2.60vh;  */
    display: flex; 
    /* background-color: red; */
    font-size: .9rem;
    color: #B0C4DE;
    margin-right: 1vw;
    /* align-items: flex-start; */
    /* margin: auto auto 0 auto; */
}


.project-description {
    padding: 4vw 4vw;
    font-size: 0.8125rem;
    color: #A7A8AA;
}

#detail-view {
    background-color: grey;
    display: flex;
    padding: auto;
    width: 3vw;
    height: 3vh;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

}