/* General styles */
.container-skills {
    display: flex;
    /* background-color: green; */
    height: 100%;
    overflow: hidden;
    padding: 0 7vw;
    justify-content: space-around;
    align-items: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:fit-content;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}
.rows {
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
    justify-content: space-around;
}

h3 img {
    width: auto;
    height: auto;
    max-width: 2.5vw;
    max-height: 3.125vh;
    margin-right: 0.3vw;
}

.columns h3 {
    font-size: 1vw;
    font-weight: bold;
    color: #fff;
}

.columns {
    flex: 1;
    flex-wrap: wrap;
    padding: 1vw;
    margin: 1vw 1vw 1vw 1vw;
    width: 25vw;
    height: 24vh;
    /* border-bottom: 1px solid #eee; */
    /* background-color: blue; */
    border-radius: 1vw;
}

.slider-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: purple; */
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    /* gap: .1vh;  */
}

.slider {
    position: relative;
    width: 25vw; /* Full width of the container */
    height: 40vh;
    /* background-color: olive; */
}

.slider-title {
    text-align: center;
    margin-bottom: 1vw; 
}

.slider-title h4 {
    color: #fff;
    font-size: 1.3rem;
}
.items-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
}

.item {
    flex: 0 0 auto;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 230px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.5rem;
    padding: 3vh;
    transition: 0.5s;
    position: absolute;
    left: calc(50% - 7vw);
    top: 0;
}

button {
    position: absolute;
    top: 42%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transform: translateY(-50%);
}

button.prev {
    left: 5%;
}

button.next {
    right: 5%;
}

h5 {
    text-align: center;
    font-size: 1rem; /* Base size */
    color: black;
}

.rows h4 {
    color: #A7A8AA;
    font-size: 1.05vw;
}

.content-certificates, .content-tools {
    font-size: 1.3em; /* Increase font size */
    /* margin-bottom: 10px;  */
}

/* Ensure the anchor tag doesn't change the styling of its children */
.verification_link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    display: block; /* Make the anchor tag a block-level element */
    position: relative; /* Needed for positioning if necessary */
    transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
    border-radius: 2rem; /* Optional: rounded corners for the card */
    overflow: hidden; /* Ensure children don't overflow */
}

/* Style for the image and text inside the link */
.verification_link img {
    display: block; /* Ensure image is treated as block-level for proper spacing */
    width: 100%; /* Ensure image fits container */
    height: auto; /* Maintain aspect ratio */
}

.verification_link h5 {
    margin: 0; /* Remove default margin */
    padding: .3vw; /* Optional: add some padding around the text */
}

.certification-icon, .tool-icon {
    width: auto;
    height: auto;
    max-width: 2.5vw;
    max-height: 2.5vh;
    margin-right: .3vw;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {

.container-skills {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 100vw;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100%;
    /* overflow: auto; */
    /* width:fit-content; */
    /* background-color: red; */
}

.rows {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 80vw;
    height: 100%;
    /* background-color: pink; */
    /* overflow: auto; */
    justify-content: center;
    align-items: center;
}

.rows h4 {
    color: cad4df;
    font-size: .8rem;
    /* background-color: palevioletred; */
}

.columns {
    display: flex;
    width: 80vw;
    height: fit-content;
    /* padding: 0vw; */
    /* margin: 0; */
    /* height: 5vh; */
    /* overflow: auto; */
    /* border-bottom: 1px solid #eee; */
    /* background-color: gray; */
    border-radius: 0vw;
}

.columns h3 {
    font-size: .9rem;
    font-weight: bold;
    color: #fff;
}

h3 img {
    width: auto;
    height: auto;
    max-width: 5vw;
    max-height: 5vh;
    margin-right: 2vw;
}

.slider-container {
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100%;
}

.item {
    /* width: auto;  */
    /* height: auto;  */
    max-width: 100px;
    max-height: 115px;
    padding: 1.5vh; /* Optionally reduce padding further */
    border-radius: 1rem; /* Smaller border radius for mobile */
    /* left: calc(30% - 6vw); */
}

.slider-title h4 {
    font-size: .7rem;
}

h5 {
    font-size: .5rem; /* Base size */
}

button {
    top: 32%;
    font-size: 1rem;
}

.slider {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: .5vh;
    width: 60vw; /* Full width of the container */
    height: 25vh;
    /* margin-bottom: -7vh; */
    /* background-color: orangered; */
}

}

