/* General styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
    box-sizing: border-box;
    width: 120%;
    overflow: hidden;
    /* background-color: red; */
}
.container-skills {
    display: flex;
    /* background-color: green; */
    justify-content: space-around;

}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* background-color: grey; */
}

.slider-container {
    display: flex;
    /* background-color: yellow; */
    flex-direction: column;
    align-items: center;
    width: 100vh;
    gap: 1px; /* gap between two cards */
    padding: 10px; 
}

.slider {
    position: relative;
    width: 80%; /* Full width of the container */
    height: 350px;
}

.slider-title {
    text-align: center;
    margin-bottom: 15px; 
}

.items-container {
    display: flex;
    position: relative;
    height: auto;
}

.item {
    flex: 0 0 auto;
    width: 190px;
    height: 230px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 30px;
    transition: 0.5s;
    position: absolute;
    left: calc(50% - 110px);
    top: 0;
}

button {
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transform: translateY(-50%);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

h5 {
    text-align: center;
    font-size: 1rem; /* Base size */
    color: black;
}

.content-certificates, .content-tools {
    font-size: 1.3em; /* Increase font size */
    margin-bottom: 10px; /* Add space between the sections */
}

/* Ensure the anchor tag doesn't change the styling of its children */
.verification_link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    display: block; /* Make the anchor tag a block-level element */
    position: relative; /* Needed for positioning if necessary */
    transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
    border-radius: 3px; /* Optional: rounded corners for the card */
    overflow: hidden; /* Ensure children don't overflow */
}

/* Style for the image and text inside the link */
.verification_link img {
    display: block; /* Ensure image is treated as block-level for proper spacing */
    width: 100%; /* Ensure image fits container */
    height: auto; /* Maintain aspect ratio */
}

.verification_link h5 {
    margin: 0; /* Remove default margin */
    padding: 5px; /* Optional: add some padding around the text */
}


.typing:hover{
    font-weight: bold;
    color: white; 
    cursor: default; 
    text-shadow: 0 0 1px rgba(252, 209, 206, 0.4); /* Glow effect */
}

.typing {
    font-size: 20px;
    margin-bottom: 15px;
}