.project {
    /* background-color: brown; */
    margin: 7% 20vw auto 20vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.project h1,
.project h2 {
    flex-wrap: wrap;
    text-align: center; 
    margin-top: 4%;
}

.project h2 {
    font-size: 25px;
    color: #A7A8AA;
}
